html, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;

    --bg-color: #4D3345FF;
    --primary-color: #351832FF;
    --secondary-color: #56315CFF;
    --active-color: #704178FF;
    --text-color: rgb(211, 211, 211);
    --red-color: #b22929;
    --green-color: #778c08;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
}

/* Modal part starts*/
.modal-content__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 100;
    height: 100svh;
    width: 100%;
}

.modal-content {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    width: 500px;
    padding: 24px;
    border-radius: 16px;
    gap: 16px;
}

.modal-header {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    color: #000;
    font-size: 30px;
    width: 100%;
}

.modal-header__text {
    color: var(--text-color);
    margin: 0;
}

.modal-body__text {
    color: var(--text-color);
    font-size: 24px;
    line-height: 1.5;
}

.hidden-modal {
    display: none;
}

.blur-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.hidden-blur {
    display: none;
}

/* Modal part ends */

.game-page main {
    padding: 16px 0;
}

.click_available {
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
    outline: none !important;
}

.click_unavailable {
    pointer-events: none;

}

.main-page, .rules-page, .game-page {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
}

.header__container {
    display: none;
    flex-direction: row;
    background: var(--primary-color);
    padding: 12px 24px;
    justify-content: space-between;
    align-items: center;
}

.game-page .header__container {
    display: flex;
    flex-direction: row-reverse;
    background: none;
}

.header__logo__container {
    display: flex;
    width: min-content;
}


.header__logo {
    width: 56px;
    border-radius: 300px;
    filter: invert(100%) sepia(0%) saturate(1578%) hue-rotate(187deg) brightness(92%) contrast(77%);
}

.score__container, .time__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 56px;
}

.game-interface__text {
    margin: 0;
    font-size: 16px;
    color: var(--text-color);
    opacity: .5;
}

.score__text {
    margin: 0;
    color: rgba(211, 211, 211, 0.7);
}

.time__text {
    font-size: 32px;
    margin: 0;
    color: var(--text-color);
}

.time__text_running-out {
    color: var(--red-color);
}

.header__exit-button {
    color: rgba(211, 211, 211, .8);
    align-self: center;
    border: 0;
    background: none;
    padding: 0;
}

.header__exit-button span.mdi::before {
    font-size: 46px;
    background: none;
    display: block;
}

.header__exit-button:hover, .header__exit-button:active, .header__exit-button:focus {
    color: var(--text-color) !important;
}

.main-background {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background: var(--bg-color) url('images/game-background.jpg') no-repeat fixed center center / cover border-box;
    z-index: -1;
}

.main-elements__container__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.main-elements__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 80px;
    flex-grow: 1;
}

.main-page__sections__container, .rules-page__sections-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    gap: 32px;
}

.millionaire-logo {
    box-sizing: border-box;
    width: 500px;
    height: 500px;
    z-index: 1;
    border-radius: 300px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.menu__element {
    box-sizing: border-box;
    text-align: center;
    width: 20vw;
    min-width: 320px;
    font-weight: 600;
    font-size: 18px;
    color: var(--text-color);
    background: var(--secondary-color);
    border-radius: 8px;
    border: none;
    padding: 12px 0;
}

.menu__element:hover, .menu__element:active, .menu__element:focus {
    background: var(--active-color);
}

.game-page .menu__element {
    width: 100%;
}

.username-form {
    background: rgba(0, 0, 0, .15);
    outline: 1px solid rgba(90, 58, 96, 0.1);
}

.username-form:hover, .username-form:focus {
    background: rgba(0, 0, 0, .2);
    outline: 1px solid rgba(90, 58, 96, 0.2);
}

.username-form::placeholder {
    opacity: .7;
}

.username-form:focus {
    outline: 1px solid rgba(90, 58, 96, 0.5);
}

.main-page__menu__container, .rules-page__rules__container {
    display: inline-flex;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    position: relative;
    align-items: center;
    background: var(--primary-color);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    padding: 24px 24px;
    border-radius: 16px;
    flex-basis: min-content;
    height: 70svh;
}

.main-page__leaderboard__container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
    position: relative;
    background: var(--primary-color);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    padding: 24px 24px;
    border-radius: 16px;
    overflow: hidden;
}

.main-page__leaderboard__container h2, .rules-page__rules__container h2 {
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

.leaderboard__label {
    display: block;
    color: var(--text-color);
    text-align: center;
}

.leaderboard__table-wrap {
    display: block;
    height: 40svh;
    overflow: hidden auto;
}

.scroll-box {
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
    gap: 16px;
    max-height: min-content;
    flex-grow: 1;
}

.leaderboard__table-wrap::-webkit-scrollbar, .scroll-box::-webkit-scrollbar {
    border-radius: 8px;
    width: 8px;
    height: auto;
    position: absolute;
}

.leaderboard__table-wrap::-webkit-scrollbar-track, .scroll-box::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, .1);
}

.leaderboard__table-wrap::-webkit-scrollbar-thumb, .scroll-box::-webkit-scrollbar-thumb {
    background: rgba(86, 49, 92, 0.5);
    border-radius: 8px;
}

.leaderboard__table {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1;
}

.leaderboard__table tr {
    color: var(--text-color);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border-bottom: 1px solid rgba(211, 211, 211, 0.4);
    margin: 8px 0;
    padding: 8px 8px;
}



.rules-page__description__container, .rules-page__game-buttons__container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    font-size: 16px;
    width: 100%;
    gap: 16px;
}

.rules-page__description__container {
    gap: 8px;
}

.rules-description {
    padding: 0 0 0 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-button {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: var(--secondary-color);
    border: 0;
}

.help-buttons__container .game-button:focus, .help-buttons__container .game-button:active {
    outline: none !important;
    background: var(--active-color);
}

.game-button span.mdi::before {
    color: var(--text-color);
    font-size: 46px;
    display: block;
}

.game-button:disabled, .game-button[disabled] {
    pointer-events: none;
    opacity: .2;
}

.help-buttons__container .game-button:hover {
    background: var(--active-color);
}

.game-button__button-description__container {
    display: flex;
    align-items: center;
}

.game-button__description__container {
    padding: 0 0 0 16px;
}

.game-button__description-article {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.game-button__description-article p, .game-button__description-article h3 {
    margin: 0;
}

.game-page__elements__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    justify-content: space-between;
    gap: 32px;
}

.game-elements__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.help-buttons__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 16px;
}

.time__container__overlay {
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    background: rgba(0, 0, 0, 0.3);
    width: 80px;
    height: 64px;
}


.question__container {
    display: flex;
    flex-direction: column;
    padding: 10svh 5vw;
    height: 100%;
    flex-grow: 1;
    gap: 32px;
}

.question__body {
    display: flex;
    flex-grow: 1;
}

.question__body__container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
}

.question__answers {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    flex-grow: 0;
}

.question__body__container__overlay {
    background: var(--primary-color);
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.answer__container__overlay {
    display: flex;
    -webkit-flex: 50%;
    -moz-flex: 50%;
    flex: 40%;
    align-self: auto;
    clip-path: polygon(5% 0%, 95% 0%, 100% 50%, 95% 100%, 5% 100%, 0% 50%);
    background: var(--primary-color);
    height: 8svh;
    margin: 8px;
}

.answer__container__overlay_hidden {
    visibility: hidden;
}

.answer__container__overlay_picked, .answer__container__overlay:hover:not(.answer__container__overlay_wrong, .answer__container__overlay_right, .answer__container__overlay_help), .answer__container__overlay:focus:not(.answer__container__overlay_wrong, .answer__container__overlay_right, .answer__container__overlay_help){
    background: var(--active-color);
}

.answer__container__overlay_wrong {
    background: var(--red-color);
}

.answer__container__overlay_right {
    background: var(--green-color);
}

.answer__container__overlay_help {
    background: #965d0f;
}


.answer__container {
    display: flex;
    align-content: center;
    width: 100%;
    height: 100%;
    gap: 16px;
    margin: 0 24px;
}

.answer__letter {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: var(--text-color);
    margin: 0;
    font-size: 24px;
}

.histogram-percentage {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: var(--text-color);
    margin: 0;
    font-size: 24px;
}

.answer__text {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0;
    flex-direction: column;
    justify-content: center;
}

.question__text {
    font-size: 24px;
    color: var(--text-color);
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    padding: 0 32px;
}

.game-page .game-button {
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
}

.game-page .game-button_focused {
    background: var(--active-color);
}

@media screen and (max-width: 768px) {
    .answer__text, .question__text, .histogram-percentage, .answer__letter  {
        font-size: 18px;
    }

    .answer__container {
        margin: 0 16px;
        gap: 12px;
    }
}

@media screen and (max-width: 980px) {
    .game-button {
        width: 56px;
        height: 56px;
        border-radius: 28px;
    }

    .game-button span.mdi::before {
        font-size: 38px;
    }

    .question__container {
        padding: 0 5vw;
        gap: 16px;
    }

    .answer__container__overlay {
        flex: 100%;
        height: 6svh;
        margin: 8px 0;
    }

    .millionaire-logo {
        display: none;
    }

    main {
        padding: 16px 0;
    }

    .main-page__sections__container, .rules-page__sections-container, .rules-page__rules__container {
        justify-content: unset;
        flex-grow: 1;
        flex-basis: unset;
    }

    .main-elements__container {
        flex-direction: column;
        justify-content: unset;
    }

    .header__container {
        display: flex;
    }

    .game-page .header__container {
        background: var(--primary-color);
    }

    .menu__element {
        width: 70vw;
        min-width: 240px;
    }

    .game-page .menu__element {
        width: 100%;
    }

    .leaderboard__table-wrap {
        display: flex;
        flex-direction: column;
        width: 70vw;
        height: 20svh;
        min-width: 240px;
        flex-grow: 1;
    }

    .leaderboard__table__container {
        display: flex;
        width: 100%;
        flex-grow: 1;
        flex-direction: column;
    }

    .main-page__leaderboard__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 1;
    }

    .scroll-box {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 70vw;
        min-width: 240px;
        flex-grow: 1;
        flex-shrink: 1;
    }
}



